body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 20;
    padding: 0;
    background-color:rgb(245, 240, 196);
}

h1{
    text-align: center;
    color: black;
}
form{
    max-width: 600px;
    margin: auto;
    background-color: rgb(248, 245, 218);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgb(0, 0, 0.5);
    padding:20px;
}
fieldset{
    border: 2px solid #5e1354;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    background-color:rgb(236, 233, 195);
}
legend{
    font-weight: bold;
    text-align: left;
    color: black;
}
label{
    font-display: block;
    margin-top: 10px;
    color: black;
}
input,textarea{
    width: calc(100% - 1px);
    padding: 8px;
    margin-top: 4px;
    border: 1px solid rgb(51, 53, 32);
    border-radius: 4px;
    box-sizing: border-box;
}
button{
    display: block;
    width: 100%;
    padding: 10px;
    background-color: rgb(245, 234, 200);
    color: black;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 18px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
button:hover {
    background-color: rgb(245, 216, 179);
}
#resumeOutput{
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 2px solid rgb(51, 53, 32); 
    border-radius: 8px;
    background-color: rgb(236, 233, 195);
    box-shadow: 0 4px 8px rgb(0, 0, 0.5);
}
#resumeOutput h2{
    color: rgb(36, 35, 24);
}

.profilePicture{
    display: block;
    margin: 0 auto;
    border: solid rgb(51, 53, 32);
    box-shadow: 0 4px 8px rgb(0, 0, 0.5);
    border-radius: 500%;
    width: 150px;
    height:150px;
    object-fit: cover;
}
